.card-body {
    transition: all 3000s ease;
  }

.card:hover{
    background-color:#f4f8fb;
}
  
.card-body p {
font-size: 14px;
color: #333;
}

.card-body a {
font-weight: bold;
}

#filtersubmit{
    background-color: #0A66C2
    ;
    border-color: #0A66C2
    ;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.filteroption{
    background-color: #0A66C2
     !important;
    border-color: #0A66C2
    !important;
    margin: 5px;
    border-radius: 5px;
    color: white !important;
    font-size: 1.3rem;

}


.learnmorebtn{
    background-color: #0A66C2
    !important;
    border-color: #0A66C2
    !important;
    color: white !important;
    margin: 5px;
    border-radius: 5px;
}

#CreateAccount{
    background-color: #1178be
    ;
    border-color: #1178be
    ;
    color: white;
    margin: 5px;
    height: 35px;
    border-radius: 5px;
}

.ApplyNow, .Save{
    background-color: 	#cee6fa;
    border-color: #6babe0;
    margin: 5px;
    border-radius: 5px;
    color: black;
}



.HeaderContainer {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    position: relative;
    padding: 20px;
}

.ProfileLogo {
    position: absolute;
    top: 50px;
    right: 50px;

}
.Logout {
    position: absolute;
    top: 50px;
    left: 50px;

}
.HomeLogo {
    position: absolute;
    top: 50px;
    right: 50px;

}



/* CREATEACCOUNT PAGE */

.custom-width {
    width: 20% !important;
  }


/* PROFILE */
.Notes, .Saved {
    height: 250px;
    background-color: white; 
    border-radius: 5px;
    border: 5px solid #72A0C1;
};

.profilecontainer {
    background-color: white; 
    border-radius: 5px;
    border: 5px solid #72A0C1;
};

.homebtn{
    background-color: #cfe2f3 !important;
}




.SendApplication{
    background-color: #0A66C2
    !important;
    border-color: #0A66C2
    !important;
    color: white !important;
    width: 150px !important;
    height: 30px !important;
    border-radius: 5px;

};